/**
 * Tianyu Shell UI Theme
 * Mono Theme - Dark Colors
*/

:root {
  --ts_ui_bgc: #8e8e8e;
  --ts_ui_content_bgc: #404040;
  --ts_ui_dialog_mask_bgc: #bfbfbf83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #7f7f7f;
  --ts_ui_dialog_content_sdc: #ffffff;

  --ts_ui_blk_1: #ffffff;
  --ts_ui_blk_2: #c0c0c0;
  --ts_ui_blk_3: #a0a0a0;
  --ts_ui_blk_4: #999999;
  --ts_ui_blk_5: #777777;
  --ts_ui_blk_6: #555555;
  --ts_ui_blk_7: #333333;
  --ts_ui_blk_8: #111111;
}

.tianyu_shell_ui_msg {
  border-color: #000000;
}

.tianyu_shell_ui_msg_error {
  background-color: #ffffff;
  color: #000000;
}

.tianyu_shell_ui_msg_warning {
  background-color: #bfbfbf;
  color: #000000;
}

.tianyu_shell_ui_msg_success {
  background-color: #888888;
  color: #000000;
}

.tianyu_shell_ui_msg_info {
  background-color: #555555;
  color: #ffffff;
}

.tianyu_shell_ui_msg_debug {
  background-color: #000000;
  color: #ffffff;
}

.tianyu_shell_ui_msg_custom {
  background-color: #000000;
  color: #ffffff;
}

.tianyu_shell_ui_block_1 {
  background-color: #000000;
  color: #ffffff;
}
.tianyu_shell_ui_block_2 {
  background-color: #222222;
  color: #ffffff;
}
.tianyu_shell_ui_block_3 {
  background-color: #444444;
  color: #ffffff;
}
.tianyu_shell_ui_block_4 {
  background-color: #666666;
  color: #ffffff;
}
.tianyu_shell_ui_block_5 {
  background-color: #888888;
  color: #000000;
}
.tianyu_shell_ui_block_6 {
  background-color: #afafaf;
  color: #000000;
}
.tianyu_shell_ui_block_7 {
  background-color: #dfdfdf;
  color: #000000;
}
.tianyu_shell_ui_block_8 {
  background-color: #ffffff;
  color: #000000;
}

.tianyu_shell_ui_exblock_1 {
  background-color: #111111;
  color: #ffffff;
}
.tianyu_shell_ui_exblock_2 {
  background-color: #333333;
  color: #ffffff;
}
.tianyu_shell_ui_exblock_3 {
  background-color: #555555;
  color: #ffffff;
}
.tianyu_shell_ui_exblock_4 {
  background-color: #777777;
  color: #000000;
}
.tianyu_shell_ui_exblock_5 {
  background-color: #999999;
  color: #000000;
}
.tianyu_shell_ui_exblock_6 {
  background-color: #a0a0a0;
  color: #000000;
}
.tianyu_shell_ui_exblock_7 {
  background-color: #c0c0c0;
  color: #000000;
}
.tianyu_shell_ui_exblock_8 {
  background-color: #ffffff;
  color: #000000;
}
