.download_search_empty_dialog_view {
  height: max-content;
  width: max-content;
}

.download_search_empty_dialog_view_content {
  height: max-content;
  width: max-content;

  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;

  font-size: 20px;

  color: #000;
}
