.page_home_main_def_baseGrid {
  height: auto;
  width: 100vw;
  text-align: center;
  display: grid;

  grid-template-rows: max-content 15px min-content 15px min-content;
  grid-template-columns: 5% 90% 5%;

  animation: inner_page_enter 0.5s forwards ease-in-out;
}

.page_home_main_def_static {
  width: 100%;
  height: max-content;

  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;

  display: grid;

  grid-template-rows: auto max-content auto;
  grid-template-columns: auto;

  background-color: #efefef;
}

.page_home_main_def_content {
  width: 100%;
  height: max-content;

  grid-row: 2;

  display: grid;

  grid-template-rows: 280px auto max-content 20px;

  background-color: #efefef;
}

.page_home_main_def_home_start {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: auto auto auto;
}

.page_home_main_def_home_start_logo {
  width: 633px;
  height: 200px;

  grid-column: 2;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.page_home_main_def_home_follow {
  height: max-content;
  width: 100%;

  color: #939393;

  user-select: none;

  grid-row: 3;
  grid-column: 1;
}

.page_home_main_def_footer {
  height: max-content;
  width: 100%;
  font-size: 1px;

  opacity: 80%;

  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}

.page_home_main_def_base_container {
  width: 100% !important;
  height: max-content;

  grid-row: 3;
  grid-column: 2;
}

.page_home_main_def_section_projects_summary {
  width: 100% !important;
  height: max-content;

  overflow: auto;
  flex-wrap: nowrap;
  display: block;
  white-space: nowrap;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;

  text-align: center;
}

.page_home_main_def_inner_container {
  width: 100% !important;

  height: max-content;

  margin-top: 15px;

  display: grid;

  user-select: none;
}

.page_home_main_def_player_bottom {
  height: 100px;
}

@media screen and (max-width: 800px) {
  .page_home_main_def_content {
    grid-template-rows: 219px auto max-content 20px;
  }

  .page_home_main_def_home_start_logo {
    width: 500px;
    height: 157px;

    grid-column: 2;
  }
}

@media screen and (max-width: 600px) {
  .page_home_main_def_content {
    grid-template-rows: 176px auto max-content 20px;
  }

  .page_home_main_def_home_start_logo {
    width: 400px;
    height: 126px;

    grid-column: 2;
  }
}

@media screen and (max-width: 500px) {
  .page_home_main_def_content {
    grid-template-rows: 140px auto max-content 20px;
  }

  .page_home_main_def_home_start_logo {
    width: 316px;
    height: 100px;

    grid-column: 2;
  }
}
