.page_home_main_def_baseGrid {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;

  grid-template-rows: auto min-content;
}

.page_home_main_def_content {
  display: block;
  width: 100%;
  height: 100%;

  grid-row: 1;
  grid-column: 1;
}

.page_home_main_def_footer {
  display: block;
  height: 85px;
  width: 100%;
  text-align: center;
  font-size: 13px;

  box-shadow: 0px -2px 3px #646464;
  grid-row: 2;
  grid-column: 1;
}
