.homePage {
  height: 100vh !important;
  display: block;
}

.navigationBar {
  margin-top: 0;
  background-color: #2f2f2f;
  opacity: 90%;
  height: 60px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 5px #4f4f4f;
}

.contentMain {
  height: 100%;

  width: 100%;

  display: grid;

  grid-template-columns: none;
  grid-template-rows: 60px auto;
}

.appContentForward {
  height: 60px;
  background-color: #ffffff;
  opacity: 20%;

  display: inline;
  position: fixed;

  grid-row: 1;
}

.appContent {
  height: 100%;
  width: 100% !important;
  margin: 0;

  display: inline;

  grid-row: 2;
}

@media screen and (max-width: 800px) {
  .navigationBar {
    height: 50px;
  }

  .contentMain {
    grid-template-rows: 50px auto;
  }

  .appContentForward {
    height: 50px;
  }
}
