.home_page_def_homePage {
  height: 100vh !important;
  display: block;
  z-index: -1;
}

.home_page_def_navigationBar {
  margin-top: 0;
  background-color: #2f2f2f;
  opacity: 90%;
  height: 50px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 5px #4f4f4f;

  z-index: 90000;

  animation: page_home_main_def_navigate_in 0.75s backwards linear;
}

.home_page_def_contentMain {
  height: 100%;

  width: 100%;

  display: grid;

  grid-template-columns: none;
  grid-template-rows: 50px auto;

  animation: home_page_def_contentMain_in 0.5s both;
}

.home_page_def_appContentForward {
  height: 50px;
  background-color: #ffffff;
  opacity: 20%;

  display: inline;
  position: fixed;

  grid-row: 1;
}

.home_page_def_appContent {
  height: 100%;
  width: 100% !important;
  margin: 0;

  display: inline;

  grid-row: 2;
}

@media screen and (max-width: 800px) {
  .home_page_def_appContentForward,
  .home_page_def_navigationBar {
    height: 40px;

    /* animation: home_page_def_navigationBar_changed 0.8s both; */
  }

  .home_page_def_contentMain {
    grid-template-rows: 40px auto;
  }
}

@keyframes home_page_def_appContentForward_changed_up {
  from {
    height: 40px;
    transform: translate3d(0, 0, 0);
  }

  to {
    height: 50px;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes home_page_def_navigationBar_changed {
  from {
    height: 50px;
    /* transform: translate3d(0, 0, 0); */
  }

  to {
    height: 40px;
    /* transform: translate3d(0, 0, 0); */
  }
}

@keyframes page_home_main_def_navigate_in {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes home_page_def_contentMain_in {
  /* form {
    transform: translate3d(0, -10%, 0);
  }
  to {
    transform: translate3d(0, 10%, 0);
  } */
  form {
    /* transform: translate3d(0, -10%, 0); */
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
