.download_base {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: 10px auto 30px auto 50px;

  animation: inner_page_enter 0.5s forwards ease-in-out;
}

.download_search_container {
  height: 30px;

  max-width: 800px;

  width: 80%;

  grid-row: 2;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: auto 10px 60px;
}

.download_search_input_box_container {
  grid-column: 1;

  height: max-content;
  width: 100%;

  display: grid;

  border-radius: 15px;

  border-style: solid;
  border-width: 0.5px;
}

.download_search_input_box {
  width: 95%;
  height: 25px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  font-size: 10px;

  border-style: none;
  outline: none;

  padding-top: 0px;
  padding-bottom: 0px;

  background-color: rgba(0, 0, 0, 0);
}

.download_search_input_box:focus {
  border-style: none;

  padding-top: 0px;
  padding-bottom: 0px;
}

.download_search_button,
.download_search_button_mob {
  width: 100%;
  height: 25px;
  margin-left: auto;
  margin-right: auto;

  grid-column: 3;

  display: grid;

  border-radius: 15px;
  background-color: #2f2f2f;
}

.download_search_button_text {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;

  color: #fff;

  display: grid;

  user-select: none;

  font-size: 10px;

  align-items: center;
  align-content: center;
  text-align: center;

  background-repeat: no-repeat;
  background-size: 33% 80%;
  background-position: center center;
}

.download_search_button :hover {
  width: 105%;
  height: 105%;
  border-radius: 15px;
  box-shadow: 1px 3px 5px #646464;
  background-color: #2f2f2f;

  animation: download_search_button_hover 0.25s forwards;
}

.download_search_button_text > img,
.download_search_button_text > img:hover {
  height: 20px;
  width: 20px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  align-content: center;
  text-align: center;
}

.download_baseGrid {
  width: 100%;
  height: 100%;

  grid-row: 4;

  display: grid;

  text-align: center;
  justify-content: center;

  grid-template-columns: 10% fit-content 10%;
}

.download_replace {
  width: 1%;
  height: 100%;
  min-width: 8px;
}

.download_replace_1 {
  grid-column: 1;
}

.download_replace_2 {
  grid-column: 3;
}

.download_content {
  width: 100%;
  height: 100%;

  display: block;

  max-width: 900px;

  align-items: center;
  align-content: center;
  text-align: center;

  grid-column: 2;

  border-radius: 5px;
}

.test_bbbbb {
  height: 100%;
}

.test_iiiiii {
  margin-top: auto;
  margin-bottom: auto;
}

.empty_download_outter {
  height: 100% !important;
  width: 100%;

  text-align: center;
  align-items: center;
  align-content: center;

  display: inline;
  grid-template-columns: auto max-content auto;
}

.empty_download_inner {
  text-align: center;
  align-items: center;
  align-content: center;

  user-select: none;

  color: #2f2f2f;

  opacity: 80%;

  grid-column: 2;
}

@media screen and (min-width: 900px) {
  .download_base {
    grid-template-rows: 15px auto 20px auto 40px;
  }
}

@media screen and (max-width: 500px) {
  .download_search_container {
    grid-template-columns: auto 10px 50px;
  }

  .download_search_button_text {
    background-size: 40% 80%;
  }
}

@keyframes download_search_button_hover {
  from {
    width: 100%;
    height: 25px;
    border-radius: 15px;
    background-color: #2f2f2f;
  }
  to {
    width: 105%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 1px 3px 5px #646464;
    background-color: #2f2f2f;
  }
}
