.pending_docs_outter {
  height: auto;
  width: 100%;

  display: block;
}

.pending_docs_inner {
  margin-left: auto;
  margin-right: auto;

  color: var(--ts_ui_blk_2);
}

.pending_docs_inner > h1 {
  user-select: none;
}

.document_container_base {
  width: max-content;
  height: auto;

  display: block;

  margin-left: auto;
  margin-right: auto;

  animation: inner_page_enter 0.5s forwards ease-in-out;
}

.document_baseGrid {
  width: max-content;
  height: max-content;

  text-align: center;
  justify-content: center;
}
