@import url("view.base.anim.css");

.docs_api_internal_container_base {
  width: 100%;
  height: max-content;

  grid-row: 2;
  grid-column: 2;

  display: grid;

  grid-template-rows: max-content 20px max-content auto;
}

.docs_api_internal_container_title {
  width: 100%;
  grid-row: 1;

  font-size: 40px;

  color: #3f3f3f;

  text-align: center;

  align-content: center;
  user-select: none;
}

.docs_api_internal_container_title_sub {
  width: 100%;
  grid-row: 2;

  font-size: 25px;

  color: #646464;

  text-align: center;

  align-content: center;
  user-select: none;

  margin-top: 10px;
}

.docs_api_internal_container_title_item,
.docs_api_internal_container_title_item_sub {
  grid-row: 2;

  width: 100%;

  margin-bottom: 10px;

  font-size: 20px;

  color: #646464;

  text-align: left;

  align-content: center;
  user-select: none;
}

.docs_api_internal_container_title_item {
  border-color: #cccccc;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.docs_api_internal_container_title_item_sub {
  padding-left: 10px;
}

.docs_api_internal_container_content {
  width: 100%;
  height: max-content;
  grid-row: 3;

  display: grid;

  align-items: center;
  align-content: center;
  text-align: center;
}

.docs_api_internal_container_content_inner {
  text-align: center;
  align-items: center;
  align-content: center;

  user-select: none;

  opacity: 80%;

  /* grid-column: 2; */
}

.docs_api_internal_list_member_base_mob,
.docs_api_internal_list_member_base,
.docs_api_internal_list_member_inner {
  width: 80%;
  height: auto;
  min-height: 60px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  align-content: center;

  display: grid;

  border-radius: 10px;

  margin-top: 20px;

  word-wrap: normal;
  word-break: break-all;
}

.docs_api_internal_list_member_inner {
  width: 100%;
  height: max-content;

  margin-top: 5px;
  margin-bottom: 5px;

  padding-left: 5px;
  padding-right: 5px;

  background-color: #2f2f2f;
  color: #fff;
}

.docs_api_internal_list_member_base:hover {
  animation: docs_api_internal_list_member_base_hover 0.5s both;
}

.docs_api_internal_empty {
  width: 100%;

  display: grid;

  text-align: center;
  align-content: center;

  color: #3f3f3f;

  user-select: none;

  font-size: 20px;
}
