#Footer {
  height: max-content;
  width: 100%;
  text-align: center;
}

.footerContent {
  white-space: nowrap;
  line-height: 25px;
  /* background-color: #6f89a2; */
  width: 100%;
}

#footerContent_ContactToUs,
#footerContent_CR_ICP_DCP {
  font-size: 10px;
  color: var(--ts_ui_blk_2);

  opacity: 70%;
  /* white-space: nowrap; */
  line-height: 25px;
  width: 100%;
  /* background-color: #646464; */
  user-select: none;

  word-wrap: break-word;
  flex-wrap: wrap;
}

#footerContent_CR_ICP_DCP {
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
}

#Footer > div > a,
#footerContent_CR_ICP_DCP > div > a {
  color: var(--ts_ui_blk_1);
  text-decoration: none;
}

#footerContent_EndBeforeColorBalance {
  height: 20px;
}

#footerContent_empty_line {
  height: 15px;
  width: 100%;
}

.footerContent_spile_line {
  height: 1px;
  width: 80%;
  background-color: var(--ts_ui_blk_4);

  opacity: 25%;

  margin-left: auto;
  margin-right: auto;
}
