.error_page_base_container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--ts_ui_content_bgc);

  align-content: center;
  text-align: center;

  user-select: none;

  animation: inner_page_enter 0.5s forwards ease-in-out;
}

.error_page_base_msg {
  color: var(--ts_ui_blk_2);
}

.error_page_base_404 {
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 30px;

  padding-top: 25px;
}

.error_page_base_error {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.error_page_base_desc {
  font-size: 30px;

  color: var(--ts_ui_blk_5);
}

@media screen and (max-width: 500px) {
  .error_page_base_404 {
    font-size: 100px;
  }

  .error_page_base_error {
    font-size: 35px;
  }

  .error_page_base_desc {
    font-size: 20px;
  }
}

@keyframes inner_page_enter {
  0% {
    /* transform: translate3d(0, -10%, 0); */
    opacity: 0%;
    transform: translate3d(0, -10%, 0);
  }
  50% {
    opacity: 75%;
    /* transform: translate3d(0, -3%, 0); */
  }
  100% {
    opacity: 100%;
    transform: translate3d(0, 0%, 0);
  }
}
