.docs_api_internal_content_macrodef {
  width: 100%;
  height: max-content;
  grid-row: 3;

  display: grid;

  grid-template-rows: 20px max-content 20px;
}

.docs_api_internal_container_content_2 {
  width: 100%;
  height: max-content;
  display: grid;

  grid-template-rows: max-content 10px max-content 20px;
}

.docs_api_internal_container_content_inner_project {
  grid-row: 1;
}
