.docs_api_base_view_baseGrid {
  display: grid;

  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20px max-content 20px max-content 40px;

  animation: inner_page_enter 0.5s forwards ease-in-out;
}

.docs_api_base_view_inner_grid {
  grid-row: 2;
  grid-column: 2;

  color: #3f3f3f;
}
