html {
  height: 100vh !important;
  width: 100%;
}

body {
  height: 100vh !important;
  width: 100%;
  display: flex;

  margin: 0px;

  /* user-select: none; */
}

.ts_ui_major {
  z-index: 10;
}

.ts_ui_bg {
  width: 100vw;
  height: 100vh;
  position: absolute;

  z-index: 0;

  background-color: var(--ts_ui_bgc);
}

.ts_ui_msg {
  z-index: 30;

  background-color: #ffffff00;
}
