@keyframes navigation_horiz_default_headerTitle_less_than_500 {
  from {
    font-size: 18px;
  }
  to {
    font-size: 16px;
  }
}

@keyframes navigation_horiz_default_headerTitle_less_than_800 {
  from {
    font-size: 16px;
    height: 50px !important;
  }
  to {
    font-size: 14px;
    height: 40px !important;
  }
}

@keyframes navigation_horiz_default_headerTitle_great_than_500 {
  from {
    font-size: 16px;
  }
  to {
    font-size: 18px;
  }
}

@keyframes navigation_horiz_default_headerTitle_great_than_800 {
  from {
    font-size: 14px;
    height: 40px !important;
  }
  to {
    font-size: 16px;
    height: 50px !important;
  }
}

@keyframes navigation_horiz_default_less {
  form {
    height: 50px !important;
  }
  to {
    height: 40px !important;
  }
}

@keyframes navigation_horiz_default_great {
  form {
    height: 40px !important;
  }
  to {
    height: 50px !important;
  }
}
