.itemLink {
  user-select: none;
  text-decoration: none;
  height: 60px !important;
}

.itemBase {
  height: 60px !important;
  width: auto;
  margin: 0px;
  display: grid;

  grid-template-rows: auto max-content;

  align-content: center;
  align-items: center;
  text-align: center;
}

.itemContainer {
  margin: 0px 20px 0px 20px;
  height: 55px !important;

  display: grid;

  font-size: 20px;

  align-content: center;
  align-items: center;
  text-align: center;
}

.itemBase:hover {
  background-color: #a2a2a2;
  opacity: 80%;
  box-shadow: 3px 5px 5px #646464;
}

.selected {
  height: 5px;
  background-color: #fff;

  box-shadow: 0px 0px 6px #f9f9f9;
}

.itemBase:hover > .selected {
  height: 5px;
  background-color: #fff;

  box-shadow: 0px 0px 6px #646464;
}

@media screen and (max-width: 1200px) {
  .itemLink {
    height: 60px !important;
  }

  .itemBase {
    height: 60px !important;
  }

  .itemContainer {
    margin: 0px 20px 0px 20px;
    height: 55px !important;

    font-size: 18px;
  }

  .itemBase:hover {
    box-shadow: 2px 4px 4px #646464;
  }

  .selected {
    height: 3px;

    box-shadow: 0px 0px 4px #f9f9f9;
  }

  .itemBase:hover > .selected {
    height: 5px;

    box-shadow: 0px 0px 4px #646464;
  }
}

@media screen and (max-width: 800px) {
  .itemLink {
    height: 50px !important;
  }

  .itemBase {
    height: 50px !important;
  }

  .itemContainer {
    margin: 0px 15px 0px 15px;
    height: 47px !important;

    font-size: 16px;
  }

  .itemBase:hover {
    box-shadow: 2px 4px 4px #646464;
  }

  .selected {
    height: 3px;

    box-shadow: 0px 0px 4px #f9f9f9;
  }

  .itemBase:hover > .selected {
    height: 3px;

    box-shadow: 0px 0px 4px #646464;
  }
}

@media screen and (max-width: 600px) {
  .itemLink {
    height: 50px !important;
  }

  .itemBase {
    height: 50px !important;
  }

  .itemContainer {
    margin: 0px 10px 0px 10px;
    height: 47px !important;

    font-size: 13px;
  }

  .itemBase:hover {
    box-shadow: 2px 4px 4px #646464;
  }

  .selected {
    height: 3px;

    box-shadow: 0px 0px 4px #f9f9f9;
  }

  .itemBase:hover > .selected {
    height: 3px;

    box-shadow: 0px 0px 4px #646464;
  }
}
